# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#GPOS objects
.emacs.desktop
.emacs.desktop.lock
utils/grub-2.06.tar.xz
utils/grub-2.06/
utils/hd.img
utils/info
bootloader/x86/.loader.map.swp
GPATH
GRTAGS
GTAGS
TAGS
tags
utils/gpos.img
drivers/char/tty/keyboard.s
backup/
